# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
*.cmake
Makefile
CMakeCache.txt
build/CMakeFiles/
build/compat/
build/src/
build/conf/
build/logs/

# Vim swapfiles
*.swp
*.swo
