# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
reveldb
*.exe
*.out
*.app

# CMake
*.cmake
Makefile
CMakeCache.txt
build/CMakeFiles/
build/compat/
build/src/

# LOG
*.log

# Vim swapfiles
*.swp
*.swo
